.c1{
  display: flex;
  position: relative;
  justify-content: center;
}
.c1 h1{
  font-size: 400%;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  border: 1px solid black;
  top: 400px;
}
.c1 label{
  font-weight: 400;
  position: absolute;
  top: 520px;
  font-size: 35px;
}
